<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hoverhandle{
            width: 300px;
            height: 200px;
            color: #ffffff;
            text-align: center;
            font-family: "Open Sans";
            background-color: #000055;
            transition:  .3s ease;
        }
        .hoverhandle:hover{

            transform: translateX(50px) translateY(50px);
            background-color: #333333;
        }

        .slide-fade-enter-active{
            transition: all 1s ease;
        }

        .slide-fade-leave-active{
            transition: all .5s ease;
        }

        .slide-fade-enter, .slide-fade-leave-to{
            transform:translateX(10px);
            opacity:0 ;
        }

        .pointer{
            height:10px;
            width: 10px;
            background-color: #356080;
            font-family: "Open Sans";
            font-size: 12px;
        }

        .font_style{
            font-size: 12px;
            font-family: "Open Sans";
        }

    </style>

</head>
<body>

    <div id="app">
        <button  v-on:click="showing = !showing">show or hide</button>

        <transition name="slide-fade" tag="div">
            <div v-if="showing">Hello!</div>
        </transition>
        <weather-meter></weather-meter>
    </div>

    <script type="text/x-template" id="weather-meter-template">
        <div>
            <div class="font_style">Today's high: {{high}}</div>
            <div class="pointer" v-bind:style="{width: shownHigh + 'px'}"></div>
            <div class="font_style"> How we  feel about this: {{ourFeelings}}</div>
        </div>
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>