body {
   font-family: Arial, sans-serif;
}

h1 {

     color: orange;
 }

.drinkOne {
     color: blue;
 }

.drinkTwo {
     color: red;
 }

button {
    background-color: blue;
    font-family: "Open Sans";
    color: white;
    font-size: 12px;
}