<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div id="app">
    <div :is="currentComponent"></div>
    <div v-show="!currentComponent" v-for="component in componentsArray">
                    <button @click="swapComponent(component)">{{component}}</button>
                    <!--<button @click="swapComponent(component)">{{ component }}</button>-->
    </div>
</div>
<button @click="swapComponent(null)">Close</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="js/app.js"></script>

</body>
</body>
</html>