<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .meter{
            height:15px;
            background-color: #333;
        }
    </style>
</head>
<body>

<!--root app element -->
    <div id="app">
        <win-meter :amount="currentWins" ></win-meter>
        <rock-paper-scissors v-on:win="win" v-on:lose="lose"></rock-paper-scissors>
    </div>

        <!--template for rps component -->
    <script type="text/x-template" id="rps-template">
        <div>
            <div>you chose {{userMove}} : computer chose {{computerMove}}</div>
            <div>you {{outcome}}</div>
            <button v-on:click="choose('rock')">rock</button>
            <button v-on:click="choose('paper')">paper</button>
            <button v-on:click="choose('scissors')">scissors</button>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="JS/app.js"></script>

</body>
</html>